<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.career.pathshala">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".setting.CrashApplication"

        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_oreo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/help_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.career.pathshala.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>


        <service android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>


        //----------------------------------------------------------------------
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBJRehU6xh7GUWbEg6l_mKEPEPCtTgpYUA" />

        <!--AIzaSyCSLzE_ZcjbxGTjSfxCB6gngS4lCHppFo-->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="949251c25b02a38335ea4a258d32ddb292dfdd9d" />


        <activity
            android:name=".activity.PrepareYourselfScreen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name=".activity.CategoryScreen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name=".activity.OpenLink"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.MockTest"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name=".activity.MockTestSession"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name=".activity.SubmitScreen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name=".activity.WebView"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"></activity>
    </application>

</manifest>